In [8]:
import datetime
import fastquant as fq
import pandas as pd

# Get today's date
today = datetime.datetime.now()

# Format the date as a string in the desired format
end_date = today.strftime('%Y-%m-%d')

# Set the start date
start_date = '2021-01-01'

# Get the list of the top 20 cryptocurrencies by market capitalization
crypto_dict = {
  "BTC": "Bitcoin",
  "ETH": "Ethereum",
  "BNB": "Binance Coin",
  "XRP": "XRP",
  "ADA": "Cardano",
  "DOGE": "Dogecoin",
  "MATIC": "Polygon",
  "LTC": "Litecoin",
  "DOT": "Polkadot",
  "SOL": "Solana",
  "TRX": "Tron",
  "SHIB": "Shiba Inu",
  "UNI": "Uniswap",
  "AVAX": "Avalanche",
  "LINK": "Chainlink",
  "ATOM": "Cosmos",
  "XMR": "Monero",
  "ETC": "Ethereum Classic",
  "XLM": "Stellar",
  "BCH": "Bitcoin Cash"
}

# Initialize an empty list to store the data
data_list = []

# Iterate through the list of cryptocurrencies
for crypto in list(crypto_dict.keys()):
  # Get the name and symbol from the dictionary
  name = crypto_dict[crypto]
  # Retrieve the data for the cryptocurrency
  data = fq.get_crypto_data(f"{crypto}/USDT", start_date, end_date)
  # Add the symbol and name to the DataFrame
  data = data.assign(symbol=crypto, name=name)
  # Add the data to the list
  data_list.append(data)

# Concatenate the data frames together
concatenated_data = pd.concat(data_list)

In [9]:
concatenated_data.head()

,open,high,low,close,volume,symbol,name
dt,,,,,,,
2021-01-01,28923.63,29600.00,28624.57,29331.69,54182.925011,BTC,Bitcoin
2021-01-02,29331.70,33300.00,28946.53,32178.33,129993.873362,BTC,Bitcoin
2021-01-03,32176.45,34778.11,31962.99,33000.05,120957.566750,BTC,Bitcoin
2021-01-04,33000.05,33600.00,28130.00,31988.71,140899.885690,BTC,Bitcoin
2021-01-05,31989.75,34360.00,29900.00,33949.53,116049.997038,BTC,Bitcoin

In [11]:
concatenated_data.tail()

             open   high    low  close     volume symbol          name
dt
2023-01-04   99.6  102.5   99.5  101.5  58636.885    BCH  Bitcoin Cash
2023-01-05  101.6  103.5  100.6  101.2  60392.462    BCH  Bitcoin Cash
2023-01-06  101.1  101.9   98.0  101.7  63179.020    BCH  Bitcoin Cash
2023-01-07  101.6  102.3  101.1  101.4  30203.645    BCH  Bitcoin Cash
2023-01-08  101.5  102.9  100.8  101.8  20633.833    BCH  Bitcoin Cash

In [10]:

concatenated_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 14631 entries, 2021-01-01 to 2023-01-08
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   open    14631 non-null  float64
 1   high    14631 non-null  float64
 2   low     14631 non-null  float64
 3   close   14631 non-null  float64
 4   volume  14631 non-null  float64
 5   symbol  14631 non-null  object
 6   name    14631 non-null  object
dtypes: float64(5), object(2)
memory usage: 914.4+ KB

In [3]:
from cryptocmd import CmcScraper

# initialise scraper without time interval for max historical data
scraper = CmcScraper("BTC")
# Pandas dataFrame for the same data
df = scraper.get_dataframe()

In [4]:
df.head()

,Date,Open,High,Low,Close,Volume,Market Cap
0,2023-01-07,16952.116981,16975.016621,16914.192080,16955.077435,7.714767e+09,3.264783e+11
1,2023-01-06,16836.473439,16991.994121,16716.422271,16951.969517,1.441366e+10,3.264013e+11
2,2023-01-05,16863.472057,16884.022116,16790.283041,16836.736645,1.369276e+10,3.241639e+11
3,2023-01-04,16680.204971,16964.585185,16667.763725,16863.238258,1.842174e+10,3.246582e+11
4,2023-01-03,16688.847264,16760.447466,16622.370328,16679.857080,1.390308e+10,3.211120e+11

In [7]:
df.tail()

,Date,Open,High,Low,Close,Volume,Market Cap
3537,2013-05-02,116.379997,125.599998,92.281898,105.209999,0.0,1.168517e+09
3538,2013-05-01,139.000000,139.889999,107.720001,116.989998,0.0,1.298955e+09
3539,2013-04-30,144.000000,146.929993,134.050003,139.000000,0.0,1.542813e+09
3540,2013-04-29,134.444000,147.488007,134.000000,144.539993,0.0,1.603769e+09
3541,2013-04-28,135.300003,135.979996,132.100006,134.210007,0.0,1.488567e+09

In [9]:
import cryptocmd
import pandas as pd

crypto_dict = {
  "BTC": "Bitcoin",
  "ETH": "Ethereum",
  "BNB": "Binance Coin",
  "XRP": "XRP",
  "ADA": "Cardano",
  "DOGE": "Dogecoin",
  "MATIC": "Polygon",
  "LTC": "Litecoin",
  "DOT": "Polkadot",
  "SOL": "Solana",
  "TRX": "Tron",
  "SHIB": "Shiba Inu",
  "UNI": "Uniswap",
  "AVAX": "Avalanche",
  "LINK": "Chainlink",
  "ATOM": "Cosmos",
  "XMR": "Monero",
  "ETC": "Ethereum Classic",
  "XLM": "Stellar",
  "BCH": "Bitcoin Cash"
}

data = []
for symbol, name in crypto_dict.items():
    # initialise scraper without time interval for max historical data
    scraper = CmcScraper(symbol)
    # Pandas dataFrame for the same data
    df = scraper.get_dataframe()
    # Add the symbol and name to the DataFrame
    df = df.assign(symbol=symbol, name=name)
    # Add the data to the list
    data.append(df)

# Concatenate the data frames together
df_concat = pd.concat(data)

NameError: name 'pd' is not defined

In [12]:
df_concat.head()

,Date,Open,High,Low,Close,Volume,Market Cap,symbol,name
0,2023-01-07,16952.116981,16975.016621,16914.192080,16955.077435,7.714767e+09,3.264783e+11,BTC,Bitcoin
1,2023-01-06,16836.473439,16991.994121,16716.422271,16951.969517,1.441366e+10,3.264013e+11,BTC,Bitcoin
2,2023-01-05,16863.472057,16884.022116,16790.283041,16836.736645,1.369276e+10,3.241639e+11,BTC,Bitcoin
3,2023-01-04,16680.204971,16964.585185,16667.763725,16863.238258,1.842174e+10,3.246582e+11,BTC,Bitcoin
4,2023-01-03,16688.847264,16760.447466,16622.370328,16679.857080,1.390308e+10,3.211120e+11,BTC,Bitcoin

In [13]:
df_concat.shape

(42126, 9)

In [14]:
df_concat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 42126 entries, 0 to 1994
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        42126 non-null  datetime64[ns]
 1   Open        42126 non-null  float64
 2   High        42126 non-null  float64
 3   Low         42126 non-null  float64
 4   Close       42126 non-null  float64
 5   Volume      42126 non-null  float64
 6   Market Cap  42126 non-null  float64
 7   symbol      42126 non-null  object
 8   name        42126 non-null  object
dtypes: datetime64[ns](1), float64(6), object(2)
memory usage: 3.2+ MB