In [8]:
import datetime
import fastquant as fq
import pandas as pd

# Get today's date
today = datetime.datetime.now()

# Format the date as a string in the desired format
end_date = today.strftime('%Y-%m-%d')

# Set the start date
start_date = '2021-01-01'

# Get the list of the top 20 cryptocurrencies by market capitalization
crypto_dict = {
  "BTC": "Bitcoin",
  "ETH": "Ethereum",
  "BNB": "Binance Coin",
  "XRP": "XRP",
  "ADA": "Cardano",
  "DOGE": "Dogecoin",
  "MATIC": "Polygon",
  "LTC": "Litecoin",
  "DOT": "Polkadot",
  "SOL": "Solana",
  "TRX": "Tron",
  "SHIB": "Shiba Inu",
  "UNI": "Uniswap",
  "AVAX": "Avalanche",
  "LINK": "Chainlink",
  "ATOM": "Cosmos",
  "XMR": "Monero",
  "ETC": "Ethereum Classic",
  "XLM": "Stellar",
  "BCH": "Bitcoin Cash"
}

# Initialize an empty list to store the data
data_list = []

# Iterate through the list of cryptocurrencies
for crypto in list(crypto_dict.keys()):
  # Get the name and symbol from the dictionary
  name = crypto_dict[crypto]
  # Retrieve the data for the cryptocurrency
  data = fq.get_crypto_data(f"{crypto}/USDT", start_date, end_date)
  # Add the symbol and name to the DataFrame
  data = data.assign(symbol=crypto, name=name)
  # Add the data to the list
  data_list.append(data)

# Concatenate the data frames together
concatenated_data = pd.concat(data_list)

In [9]:
concatenated_data.head()

,open,high,low,close,volume,symbol,name
dt,,,,,,,
2021-01-01,28923.63,29600.00,28624.57,29331.69,54182.925011,BTC,Bitcoin
2021-01-02,29331.70,33300.00,28946.53,32178.33,129993.873362,BTC,Bitcoin
2021-01-03,32176.45,34778.11,31962.99,33000.05,120957.566750,BTC,Bitcoin
2021-01-04,33000.05,33600.00,28130.00,31988.71,140899.885690,BTC,Bitcoin
2021-01-05,31989.75,34360.00,29900.00,33949.53,116049.997038,BTC,Bitcoin

In [11]:
concatenated_data.tail()

             open   high    low  close     volume symbol          name
dt
2023-01-04   99.6  102.5   99.5  101.5  58636.885    BCH  Bitcoin Cash
2023-01-05  101.6  103.5  100.6  101.2  60392.462    BCH  Bitcoin Cash
2023-01-06  101.1  101.9   98.0  101.7  63179.020    BCH  Bitcoin Cash
2023-01-07  101.6  102.3  101.1  101.4  30203.645    BCH  Bitcoin Cash
2023-01-08  101.5  102.9  100.8  101.8  20633.833    BCH  Bitcoin Cash

In [10]:

concatenated_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 14631 entries, 2021-01-01 to 2023-01-08
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   open    14631 non-null  float64
 1   high    14631 non-null  float64
 2   low     14631 non-null  float64
 3   close   14631 non-null  float64
 4   volume  14631 non-null  float64
 5   symbol  14631 non-null  object
 6   name    14631 non-null  object
dtypes: float64(5), object(2)
memory usage: 914.4+ KB

In [ ]:
concatenated_data